services:
  backend:
    image: clausmerderet/bank_api:latest
    ports:
      - "4111:4111"
    networks:
      - bank-network

  tests:
    image: bank-tests:latest
    depends_on:
      - backend
    environment:
      BACKEND_URL: http://backend:4111/api
    networks:
      - bank-network
    command: pytest -m api --alluredir=/app/reports/allure

networks:
  bank-network:
    driver: bridge