services:
  backend:
    image: clausmerderet/bank_api:latest
    ports:
      - "4111:4111"
    networks:
      - bank-network

  tests:
    build: .
    networks:
      - bank-networke

networks:
  bank-network:
    driver: bridge