name: Run tests

on:
  push:
    paths:
      - 'src/**'
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run Tests
        run: docker compose up --build