name: Run tests

on:
  push:
    paths:
      - 'src/**'
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: New Network
        run: docker network create test-net || true

      - name: App Service
        run: docker-compose up -d backend

      - name: Run Tests
        run: make run-tests