name: Run tests

on:
  push:
    paths:
      - 'src/**'
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout
          uses: actions/checkout@v5

        #      - uses: actions/setup-python@v5
        #        with:
        #          python-version: '3.13'
        #          cache: 'pip'
        #      - run: pip install -r requirements.txt
        #
        #      - name: Setup playwright
        #        run: playwright install --with-deps

        - name: Run app
          run: make start-app

        - name: Run tests
          #        env:
          #          SERVER: http://localhost:4111/api
          #          API_VERSION: /v1
          #          UI_BASE_URL: http://localhost:3000
          run: make run-tests